.main{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
}

.sidebar{
  width: 20%;
}

.body{
  width: 80%;
  display: flex;
  flex-direction: column;
}

.bodyMain{
  width: 100%;
  display: flex;
}

.leftBody{
  width: 70%;
  height: auto;
}

.rightBody{
  width: 30%;
  height: auto;
}